@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  background-color: #f0efeb;
  color: #9b2226;
  font-family: 'PT Serif', serif;
}

nav h1 {
  color: #9b2226;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  margin-right: 1e,;
}

nav {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-button {
  background-color: rgba(17, 16, 16, 0.88);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.shoppingCart {
  color: #9b2226;
  width: 100%;
  height: 6vh;
}

.shoppingCart, .nav-button h3 {
  margin-top: 2em;
}

/*slideshow */
.slider {
  margin-top: 2.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 800px;
  height: 475px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* end of slideshow */

/* story section */
.story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.story-section h3 {
  font-size: 2.5em;
  margin-top: 1.2em;
}

.story-section p {
  width: 75%;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
}

.Home button {
  font-weight: 700;
  padding: 2em;
  border-radius: 10%;
  background-color: #9b2226;
  color: rgba(17, 16, 16, 0.88);
}

.Home button:hover {
  padding: 3em;
  border-radius: 15%;
  color: #9b2226;
  background-color: rgba(17, 16, 16, 0.88);
}

/* displaying the menu */
.pizzaContainer {
  display: flex;
  justify-content: center;
  text-align: center;  
  align-items: center;
  flex-direction: column;
}

.pizzaInfo {
  margin: 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pizzaCard {
  border: 2px solid rgba(186, 186, 186, 0.49);
  border-radius: 2em;
  width: 25%;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.pizzaCard:hover {
  box-shadow: 20px 20px 50px grey;
}

.pizzaCard img {
  width: 100%;
  height: 30vh;
  border-radius: 2em;
}

.pizzaCardContent button {
  padding: 0.5em;
  border: 1px solid black;
}
.pizzaCardContent button:hover {
  box-shadow: 20px 20px 50px #9b2226;
}

/* add to cart */
.cart-button{
  position: relative;
  outline: 0;
  background-color: blue;
  color: #fff;border: none;height: 48px;width: 200px;padding: 10px;border-radius: 10px;line-height: 0px;overflow: hidden;cursor:pointer}
.cart-button:focus{outline: none !important}
.cart-button .fa-shopping-cart{position: absolute;z-index: 2;top: 50%;left: -20%;font-size: 1.8em;transform: translate(-50%, -50%)}
.cart-button .fa-square{position: absolute;z-index: 1;top: -20%;left: 53%;font-size: 0.8em;transform: translate(-50%, -50%)}
.cart-button span{position: absolute;left: 50%;top: 50%;color: #fff;transform: translate(-50%, -50%)}
.cart-button span.added{opacity: 0}
.cart-button.clicked .fa-shopping-cart{animation: cart 2s ease-in forwards}
.cart-button.clicked .fa-square{animation: box 2s ease-in forwards}
.cart-button.clicked span.add-to-cart{animation: addcart 2s ease-in forwards}
.cart-button.clicked span.added{animation: added 2s ease-in forwards}
@keyframes cart{0%{left: -10%}40%, 60%{left: 50%}100%{left: 110%}}
@keyframes box{0%, 40%{top: -20%}60%{top: 36%;left: 53%}100%{top: 40%;left: 112%}}
@keyframes addcart{0%, 30%{opacity: 1}30%, 100%{opacity: 0}}
@keyframes added{0%, 80%{opacity: 0}100%{opacity: 1}}


/*checkout */
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*submit page*/

/* footer */
.footer-info nav{
  background-color: rgba(17, 16, 16, 0.88);
  margin-top: 3em;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #9b2226;

}

.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer-info img {
  width: 13%;
}


/* mobile responsive at 500px */
@media (max-width: 500px) {
  /*home */
  .intro button {
    padding: 6%;
  }

  .container-logo {
    margin-left: 5em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .logo1, .logo2, .logo3 {
    width: 20em;
  }

  .logo3 {
    margin: 0;
  }

  /*form */
  .title img {
    width: 30em;
  }

  .instructions {
    display: flex;
    flex-direction: column;
  }

  .instructions input {
    width: 20em;
    margin-left: 8em;
  }

  /* submitted page */
  .submitPage h2 {
    text-align: center;
  }

  .submitPage img {
    width: 17em;
    height: 20em;
  }
}


