@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #f0efeb;
  font-family: 'Inter', sans-serif;
}

nav h1 {
  font-size: 35px;
  color: #9b2226;
  text-align: center;
  text-decoration: none;
  }

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(244, 99, 58, 0.25);
}

.nav-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ca6702;
  padding-bottom: 2em;
}

.shoppingCart {
  width: 100%;
  height: 7vh;
  color: #9b2226;
  margin-top: 40%;
}

/*slideshow */
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 850px;
  height: 450px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* end of slideshow */

/* story section */
.story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #9b2226;
}

.story-section h3 {
  font-size: 3em;
  margin: 1rem;
}

.story-section p {
  width: 75%;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

/* form */
form{
  text-align: center;
}

.name, .size, .sauce, .toppings, .instructions, .top-page a, button {
  padding: 2%;
  color: #9b2226;
}

/* form */
.toppings {
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;  
}

.toppingIndex {
  width: 13%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
flex-direction: row;
}

.add-cart {
  margin: 3rem 0;
}

.top-page a {
  text-decoration: none;
}

/* submit page */
.submitPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submitPage img {
  width: 30%;
  height: 23em;
}


/* mobile responsive at 500px */
@media (max-width: 500px) {
  /*home */
  .intro button {
    padding: 6%;
  }

  .container-logo {
    margin-left: 5em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .logo1, .logo2, .logo3 {
    width: 20em;
  }

  .logo3 {
    margin: 0;
  }

  /*form */
  .title img {
    width: 30em;
  }

  .instructions {
    display: flex;
    flex-direction: column;
  }

  .instructions input {
    width: 20em;
    margin-left: 8em;
  }

  /* submitted page */
  .submitPage h2 {
    text-align: center;
  }

  .submitPage img {
    width: 17em;
    height: 20em;
  }
}


